.footer {
  margin: 10px;
  padding: 10px;
  min-height: 140px;
  background:#f5eddb;
  position: relative;
  text-align: center;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: #413132;
  color: #f5eddb;
  text-align: center
}
